<div class="owl-carousel-wrapper" style="height: 420px">
  <div class="box-92819">
    <h1 class="text-white mb-3">Join The Movement To end Child Poverty</h1>
    <p>
      <a href="#" class="btn btn-primary py-3 px-4 rounded-0">Donate Now</a>
    </p>
  </div>

  <div class="owl-carousel owl-1" style="height: 420px">
    <div
      class="ftco-cover-1 overlay"
      style="background-image: url('../assets/images/hero_1.jpg')"
    ></div>
    <div
      class="ftco-cover-1 overlay"
      style="background-image: url('../assets/images/hero_2.jpg')"
    ></div>
    <div
      class="ftco-cover-1 overlay"
      style="background-image: url('../assets/images/hero_3.jpg')"
    ></div>
  </div>
</div>
