<app-navbar></app-navbar>
<div style="height: 100%">
  <img
    style="position: relative; width: 100%; opacity: 0.4; height: 88vh"
    src="https://images.unsplash.com/photo-1519114072970-b3a1225ae3ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
    alt=""
  />
  <div
    class="mt-5"
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;

      transform: translate(-50%, -50%);
    "
  >
    <app-contact-form></app-contact-form>
  </div>
</div>
<app-footer></app-footer>
