<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/images/img_2.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-5 ml-auto">
          <h3 class="text-cursive mb-4">Our Mission</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo molestias sunt eius autem dolor provident nihil hic odio.</p>
          <p>Aliquid optio, sunt asperiores velit odio suscipit autem itaque! Aspernatur fugiat, sapiente deleniti quod aut ab quidem ducimus.</p>
          <p>A minima eos optio cum, veniam repellat autem, aperiam rem dolor asperiores. Debitis dolores eligendi in adipisci suscipit!</p>
          <p><a href="#" class="btn btn-primary rounded-0 px-4">Contact Us</a></p>
        </div>
      </div>
    </div>
  </div>
