<div class="site-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="text-cursive">Our Team</h2>
        </div>
      </div>
      <div class="row align-items-stretch">

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="/assets/images/person_1.jpg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Founder</span>
              <h2>James Doe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="/assets/images/person_2.jpg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Volunteer</span>
              <h2>James Doe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="/assets/images/person_3.jpg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Volunteer</span>
              <h2>James Doe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="/assets/images/person_4.jpg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Manager</span>
              <h2>James Doe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="/assets/images/person_5.jpg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Human Resource</span>
              <h2>James Doe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="/assets/images/person_1.jpg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Volunteer</span>
              <h2>James Doe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
