<div class="container">
    <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

      <a href="#" class="feature-29192 overlay-danger" style="background-image: url('/assets/images/img_3_gray.jpg');">
        <div class="text">
          <span class="meta">Livelihood</span>
          <h3 class="text-cursive text-white h1">Livelihood</h3>
        </div>
      </a>

      <a class="feature-29192 overlay-success" style="background-image: url('/assets/images/img_2_gray.jpg');">
        <div class="text">
          <span class="meta">Health</span>
          <h3 class="text-cursive text-white h1">Natural Remedies</h3>
        </div>
      </a>

      <div class="feature-29192 overlay-warning" style="background-image: url('/assets/images/img_1_gray.jpg');">
        <div class="text">
          <span class="meta">School</span>
          <h3 class="text-cursive text-white h1">New Class Rooms</h3>
        </div>
      </div>

    </div>
  </div>
